<div class="mat-card main-card">
  <form [formGroup]="rollSettingsForm" (submit)="onSubmit()">
    <div class="mat-card-content">
      <div class="flex-row">
        <div class="mat-form-field flex-input">
          <input type="number" id="dNum" name="dNum" required min="1"
                 formControlName="dNum" matInput placeholder="How many">
        </div>
        <div class="mat-form-field flex-input">
          <input type="number" id="dSize" name="dSize" required min="1"
                 formControlName="dSize" matInput placeholder="Size">
          <span matPrefix>d</span>
        </div>
        <div class="mat-form-field flex-input">
          <label><input type="checkbox" (change)="complex = !complex"> Complex</label>
        </div>
      </div>
      <div class="flex-row" *ngIf="complex">
        <div class="mat-form-field flex-input">
          <input type="number" id="crit" name="crit" [required]="rollSettingsForm.controls['biff'].value || rollSettingsForm.controls['goal'].value"
                 formControlName="crit" matInput placeholder="Crit">
        </div>
        <div class="mat-form-field flex-input">
          <input type="number" id="biff" name="biff" [required]="rollSettingsForm.controls['crit'].value || rollSettingsForm.controls['goal'].value"
                 formControlName="biff" matInput placeholder="Biff">
        </div>
        <div class="mat-form-field flex-input">
          <input type="number" id="goal" name="goal" [required]="rollSettingsForm.controls['biff'].value || rollSettingsForm.controls['crit'].value"
                 formControlName="goal" matInput placeholder="Goal">
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary">Roll</button>
      </div>
    </div>
  </form>
</div>
