.die {
  color: white;
  font-weight: bold;
  &.die-biff {
    background-color: darkred;
  }
  &.die-goal {
    background-color: darkorange;
  }
  &.die-crit {
    background-color: darkgreen;
  }
  &.die-default {
  }
}
.settings {
  span {
    font-weight: bold;
    &.setting-biff {
      color: darkred;
    }
    &.setting-goal {
      color: darkorange;
    }
    &.setting-crit {
      color: darkgreen;
    }
  }
}
