.die {
  border-radius: 50%;
  box-shadow: 2px 2px 2px 0 lightgrey;
  background: lightgray radial-gradient(lightgray, darkgray);
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  width: 30px;
  &.die-biff {
    background: darkred radial-gradient(red, darkred);
    //box-shadow: 0 0 2px 2px lightpink;
  }
  &.die-goal {
    background: rgb(0, 150, 50) radial-gradient(rgb(200, 255, 80), rgb(0, 150, 50));
    //box-shadow: 0 0 2px 2px lightgreen;
  }
  &.die-crit {
    background: rgb(170, 110, 0) radial-gradient(rgb(255, 240, 20), rgb(170, 110, 0));
    //box-shadow: 0 0 2px 2px rgb(255, 240, 20);
  }
  &.die-default {
    background: lightgray;
    color: lightgray;
    text-shadow: 0 0 5px dimgrey;
  }
}
.settings {
  span {
    font-weight: bold;
    &.setting-biff {
      color: darkred;
    }
    &.setting-goal {
      color: darkorange;
    }
    &.setting-crit {
      color: darkgreen;
    }
  }
}
.total {
  font-weight: bold;
  &.complex {
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}
