.die {
  &.die-biff {
  }
  &.die-goal {
  }
  &.die-crit {
  }
  &.die-default {
  }
}
.settings {
  span {
    font-weight: bold;
    &.setting-biff {
      color: darkred;
    }
    &.setting-goal {
      color: darkorange;
    }
    &.setting-crit {
      color: darkgreen;
    }
  }
}
