.welcome-card-avatar {
  background-color: black;
  background-size: cover;
}

.main-card {
  max-width: 500px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  .flex-input {
    flex: auto;
  }
}
