<mat-toolbar>
  <mat-toolbar-row>
    <h1>SANDRA</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="welcome-card">
  <mat-card-header>
    <div mat-card-avatar class="welcome-card-avatar"></div>
    <mat-card-title>Welcome to SANDRA</mat-card-title>
    <mat-card-subtitle>The Super Awasome Nice Dice Roller App</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>SANDRA is a pet project of mine and is currently in very early stages of development.</p>
    <p>The goal is to make a fully-featured dice roller app with two modes of operation to serve as
      a companion to RPG players out there.</p>
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-content>
    <div class="flex-row">
      <mat-form-field class="flex-input">
        <input type="number" id="dSize" name="dSize"
               [(ngModel)]="dSize" matInput placeholder="Size">
      </mat-form-field>
      <mat-form-field class="flex-input">
        <input type="number" id="dNum" name="dNum"
               [(ngModel)]="dNum" matInput placeholder="How many">
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field class="flex-input">
        <input type="number" id="crit" name="crit"
               [(ngModel)]="crit" matInput placeholder="Crit">
      </mat-form-field>
      <mat-form-field class="flex-input">
        <input type="number" id="biff" name="biff"
               [(ngModel)]="biff" matInput placeholder="Biff">
      </mat-form-field>
      <mat-form-field class="flex-input">
        <input type="number" id="goal" name="goal"
               [(ngModel)]="goal" matInput placeholder="Goal">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="rollClicked()">Roll</button>
    </div>
    <div>
      <mat-chip-list *ngFor="let r of rollHistory">
        <mat-chip *ngFor="let n of r.roll">{{n}}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
